
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Analyze your SGES feedback</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="static/js/signUp.js"></script>
    <script type="text/javascript" src="static/js/myChart.js"></script>
  </head>

  <body>
      <button id="btnSignUp" onclick="renderChart()" type="button">Analyze</button>
      <div class="container">
        <h3 class="text-muted">Analyze your SGES feedback</h3>
      	<canvas id="myChart"></canvas>
      </div>
      
      <p><a class="btn btn-lg btn-success" href="analyze" role="button">test</a></p>

      <footer class="footer">
        <p>&copy; Developed by Vandana, Pratibha, Aishwarya and Kajal</p>
      </footer>

    </div>
  </body>
</html>

